*{
	box-sizing: border-box;
}
html,body{
	min-height: 100%;
}

body{
	/*color: #fff;*/ /*gives white color*/
	font-size: 16px;
	color: white;
	/*background-image: linear-gradient(to bottom right,#5f6362,black) ;*/
	background: #5f6362;
	font-family: 'Kalam',cursive;	
}

/*********start header********/

#header-nav{
	/*background-image: linear-gradient(to right,#00fc00,#00d100);*/
	background: black;
	border-radius: 0;
	border: 0;
} 

#logo-img{
	background: url('logo3.png') no-repeat;
	width: 125px;
	height: 125px;
	margin: 10px 15px 10px 0px;
}
.navbar-brand{
	height: 100px;
}
abbr {
  border-bottom: none !important;
  cursor: inherit !important;
  text-decoration: none !important;
  color: white !important;
  font-size: 100%;
}
abbr>a{
	color: white !important;
	font-family: 'Kalam' !important;
}
abbr>a:hover{
	color: pink !important;
	font-size: 120% !important;
}

.navbar-brand h1{
	padding-top: 12px;
	padding-left: 12px;
	color: lime;
	text-transform: uppercase;
	text-decoration: underline;
	text-shadow: 4px 1px 4px red;
	font-weight: bold;
}

#nav-list{
	margin-top: 25px;
}
#nav-list a{
	color: lime;
	text-align: center;
}
li:nth-child(-n+3):hover{
	font-size: 120%;
	color: lime;
	border: 2px dashed lime;
}
li{
	margin-top: 5px;
	margin: auto 5px auto 5px;
}
#phone div{
	text-align: right;
	padding-right: 17px;
}
#phone a{
	font-family: sans-serif;
	font-size: 120%;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 2px solid lime;
	background: black;

}
.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -69px;
}
/******end header******/

/*****home page*****/
.container .jumbotron{
	box-shadow: 0 0 50px black;
	border: 2px solid black;
}
#menu-tile, #specials-tile, #map-tile{
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid black;
	overflow: hidden;
	color: lime;
	border-radius: 20px;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover{
	box-shadow: 0 1px 5px 1px lime;
	font-size: 150%;
	border: 1px solid lime;
}
#menu-tile{
	background: url('../images/menu.png') black no-repeat;
	background-position: top;
}
#specials-tile{
	background: url('../images/specials.png') black no-repeat top;
}
#menu-tile span,#specials-tile span, #map-tile span{
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	background: black;
	opacity: .85;
	font-size: 150%;
	text-transform: capitalize;
	font-weight: 500;
}
.category-tile{
	width: 250px;
	height: 200px;
	background: black;
	color: white;
	border: 2px solid black;
	overflow: hidden;
	position: relative;
	margin: auto 0 15px auto;
	border-radius: 20px;
	font-size: 150%;
	text-transform: capitalize;
}
.category-tile>img{
	width: 250px;
	height: 200px;
	overflow: hidden;
}
.category-tile>span{
	bottom: 0;
	position: absolute;
	width: 100%;
	text-align: center;
	background: black;
	opacity: .8;


}
#menu-categories{
	margin-bottom: 50px;
	text-decoration: underline;
}
.category-tile:hover{
	color: lime;
	box-shadow: 0 1px 5px 1px lime;
	font-size: 200%;
	border-color: lime;
}

/********indicator of we are currently on menu page**************/
.menupage{
	border: 2px dashed lime;
	font-size: 120%;
}
/********indicator over********/

/********single-category.html styles********/
#lunch-desc{
	padding-bottom: 10px;
	color: lime;
}
#lunch-hr{
	padding-bottom: 20px;
}
.menu-tile-2{
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.menu-item-photo{
	position: relative;
}
.menu-item-photo div{
	position: absolute;
	right: 0px;
	bottom: 0px;
	background: green;
	padding-left: 7px;
	padding-bottom: 2px;
	padding-right: 7px;
	padding-top: 2px;
}
.menu-item-price{
	text-align: center;
	border: 2px solid black;
	padding-top: 2px;
	padding-bottom: 2px;
}
h3.menu-item-title{
	color: cyan;
}
.menu-tile-2:hover{
	background: #3d4849;
}


/***** end home page *****/
/****** footer ***********/
.panel-footer{
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	border-top: 0;
	background: #222 ; 
}
#hours,#address{
	line-height: 2;
}
#innercontent{
	padding-left: 20px;
}
#hours>span,#address>span{
	font-size: 1.3em;
}
#testimonials{
	font-style: italic;
	text-align: center;
}
#testimonials p:nth-child(1){
	margin-top: 10px;
}
#testimonials p:nth-child(2){
	margin-top: 25px;
}

#delivery{
	margin-top: 10px;
	color: cyan;
	line-height: 1;
	font-size: 90%;
}
#copyright{
	background:black;
	color:lime; 
	width:100%;
}

/************Large Size Devices*******************/
@media (min-width: 1200px) {
	.container .jumbotron{
		background: url('../images/restaurant-pic-1200.png') no-repeat;
		height: 624px;
		width: 1140px;
	}
	#nav-list a{
		font-size: 110%;
	}
	li:nth-child(-n+3):hover{
	border: 3px lime dashed;
	}
	.menupage{
	border: 3px dashed lime;
	font-size: 120%;
}
	
}

/************Medium Size Devices******************/
@media (min-width: 992px) and (max-width: 1199px){
	.container .jumbotron{
		background: url('../images/restaurant-pic-991.png') no-repeat;
		height: 515px;
		width: 940px;
	}
	
}


/************Small Size Devices*******************/
@media (min-width:768px) and (max-width: 991px) {
	#nav-list{
		margin-top: 20px;
	}
	.navbar-right{
		font-size: 75%;
	}
	#logo-img{
		background: url('logo1.png') no-repeat;
		max-width: 100px;
		max-height: 100px;

	}
	.navbar-brand h1{
		font-size: 30px;
		margin-top: 15px;
	}
	/******main content jumbotron*/
	.container .jumbotron{
		background: url('../images/restaurant-pic-991.png') no-repeat;
		height: 394px;
		width: 720px;
		border-radius: 20px;
	}
	li:nth-child(-n+3):hover{
		font-size: 100%;
		border: 1px dashed lime;
	}
.menupage{
		border: 1px dashed lime;
		font-size: 100%;
	}

	
}


/************Extra Small Devices*******************/

@media (max-width: 767px) {
	.navbar-brand h1{
		/*font-size can be given a value with unit vw vw is viewport width 
		1vw=1% of viewport width*/
		margin-top:6px;
		padding-left: 20px;
		padding-right: 65px;
	}
	.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -89px;
	}
	.navbar-brand{
		height: 120px;
	}

	.btn{
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 10px;
		font-size: 18px;
		background: cyan;
		color: black;
	}
	#xs-deliver{
		font-size: 80%;
	}

	.container .jumbotron{
		margin-top: 30px;
		padding: 0px;
		border-radius: 20px;
	}
	.myimg{
		border-radius: 20px;
	}
	
	#menu-tile,#specials-tile,#map-tile{
		max-width: 390px;
		margin: 0 auto 15px auto;
	}
	/*******footer*********/
	.panel-footer section{
		text-align: center;
	}
	.panel-footer section hr{
		width: 70%;
	}
	#testimonials{
	margin-top: 30px;
	}
	.category-tile{
		margin-left: auto;
		margin-right: auto;
	}
	/*end footer*/
	/*single-category-html*/
	.menu-tile-2:hover{
		background: #5f6362;
	}
	.menu-item-price{
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	.col-sm-5 .menu-item-photo{
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	.menu-tile-2{
		text-align: center;
	}
	li:nth-child(-n+3){
		margin-top: 10px;
	}
}
