*{
	box-sizing: border-box;
}
html,body{
	min-height: 100%;
}

body{
	/*color: #fff;*/ /*gives white color*/
	font-size: 16px;
	color: white;
	background-image: linear-gradient(to bottom right,#5f6362,black) ;
	font-family: 'Kalam',cursive;	
}
/*********start header********/

#header-nav{
	/*background-image: linear-gradient(to right,#00fc00,#00d100);*/
	background: black;
	border-radius: 0;
	border: 0;
} 

#logo-img{
	background: url('logo3.png') no-repeat;
	width: 125px;
	height: 125px;
	margin: 10px 15px 10px 0px;
}
.navbar-brand{
	height: 100px;
}

.navbar-brand h1{
	padding-top: 12px;
	padding-left: 12px;
	color: lime;
	text-transform: uppercase;
	text-decoration: underline;
	text-shadow: 4px 1px 4px red;
	font-weight: bold;
}

#nav-list{
	margin-top: 25px;
}
#nav-list a{
	color: lime;
	text-align: center;
}
li:nth-child(-n+3):hover{
	font-size: 120%;
	color: lime;
	border: 2px lime;
	border-style: dashed;
}
li{
	margin-top: 5px;
}
#phone div{
	text-align: right;
	padding-right: 17px;
}
#phone a{
	font-family: sans-serif;
	font-size: 120%;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 2px solid lime;
	background: black;

}
.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -69px;
}
/******end header******/

/*****home page*****/
.container .jumbotron{
	box-shadow: 0 0 50px black;
	border: 2px solid black;
}
#menu-tile, #specials-tile, #map-tile{
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid black;
	overflow: hidden;
	color: lime;
	border-radius: 20px;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover{
	box-shadow: 0 1px 5px 1px lime;
	font-size: 150%;
	border: 1px solid lime;
}
#menu-tile{
	background: url('../images/menu.png') black no-repeat;
	background-position: top;
}
#specials-tile{
	background: url('../images/specials.png') black no-repeat top;
}
#menu-tile span,#specials-tile span, #map-tile span{
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	background: black;
	opacity: .85;
	font-size: 150%;
	text-transform: capitalize;
	font-weight: 500;
}
#map-tile{

}

/************Large Size Devices*******************/
@media (min-width: 1200px) {
	.container .jumbotron{
		background: url('../images/restaurant-pic-1200.png') no-repeat;
		height: 624px;
		width: 1140px;
	}
	#nav-list a{
		font-size: 110%;
	}
	li:nth-child(-n+3):hover{
	border: 3px lime dashed;
	}
	
}

/************Medium Size Devices******************/
@media (min-width: 992px) and (max-width: 1199px){
	.container .jumbotron{
		background: url('../images/restaurant-pic-991.png') no-repeat;
		height: 515px;
		width: 940px;
	}
	
}


/************Small Size Devices*******************/
@media (min-width:768px) and (max-width: 991px) {
	#nav-list{
		margin-top: 20px;
	}
	.navbar-right{
		font-size: 75%;
	}
	#logo-img{
		background: url('logo1.png') no-repeat;
		width: 100px;
		height: 100px;

	}
	.navbar-brand h1{
		font-size: 32px;
		margin-top: 15px;
	}
	/******main content jumbotron*/
	.container .jumbotron{
		background: url('../images/restaurant-pic-991.png') no-repeat;
		height: 394px;
		width: 720px;
		border-radius: 20px;
	}

	
}


/************Extra Small Devices*******************/

@media (max-width: 767px) {
	.navbar-brand h1{
		/*font-size can be given a value with unit vw vw is viewport width 
		1vw=1% of viewport width*/
		margin-top:6px;
		padding-left: 20px;
		padding-right: 65px;
	}
	.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -89px;
	}
	.navbar-brand{
		height: 120px;
	}

	.btn{
		padding-left: 15px;
		padding-right: 15px;
		margin-bottom: 10px;
		font-size: 18px;
		background: cyan;
		color: black;
	}
	#xs-deliver{
		font-size: 80%;
	}

	.container .jumbotron{
		margin-top: 30px;
		padding: 0px;
		border-radius: 20px;
	}
	.myimg{
		border-radius: 20px;
	}


}
